---
title: Accueil
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="fr-notice fr-notice--info">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title"> Mise à jour du site. </span>
        <span class="fr-notice__desc">Montée de version, mise en conformité DSFR et maintenance du site, du 19 décembre 2024 au 20 janvier 2025.</span>
      </p>
      <button
        title="Masquer le message"
        onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)"
        id="button-1299"
        class="fr-btn--close fr-btn">Masquer le message</button>
    </div>
  </div>
</div>

<div class="fr-py-6w fr-background-alt--blue-cumulus">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <h1>Réduire l’empreinte environnementale du numérique public</h1>
        <p class="fr-text--lead">
          La MiNumEco, la Mission Interministérielle Numérique Écoresponsable, accompagne les administrations dans la réduction de
          l'empreinte environnementale du numérique public.
        </p>
      </div>
      {# <div class="fr-hidden fr-unhidden-md fr-col-md-4"></div> #}
    </div>
  </div>
</div>
<div class="fr-container fr-pt-4w">
  <section>
    <h2>Les dernières actualités</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-py-3w">
      {% for post in collections.posts | head(-3) | reverse %}
        <div class="fr-col-12 fr-col-md-4">
          {% from "components/component.njk" import component with context %}
          {{ component("card", {
						url: post.url,
						title: post.data.title,
						description: post.data.description | safe,
						tags: post.data.tags,
						date: post.date,
						badges: post.data.badges,
						image: {
							path: post.data.image.path | resolvePath(post),
							alt: post.data.image.alt
						}
					}) }}
        </div>
      {% endfor %}
    </div>
    <p>
      <a href="/fr/actualites/" class="fr-link fr-fi-arrow-right-line fr-link--icon-right">Voir plus d'actualités</a>
    </p>
  </section>
  {# <section class="fr-mt-8w">
    <h2>Ressources multimédias</h2>
  </section>
  <section class="fr-mt-8w">
    <h2>S'inscrire aux prochaines formations</h2>
  </section> #}
</div>
