---
layout: layouts/base.njk
---

{% include "components/breadcrumb.njk" %}

<h1>{{ title }}</h1>

{% set postslist = collections.all | eleventyNavigationByKeys(items) %}

{% include "postslist.njk" %}
